#styleTexte {
    /* font-family: Impact, Haettenschweiler, 'Serif Bold Italic', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .div3Sec1 {

  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 16px; 
 }

 .Point {
   padding: 8px;
 }

 .Marge {
  padding: 0px;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  text-align: inherit;
  color: initial;
  margin: 0px;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: 600;
  text-decoration: none;
  font-style: inherit;
 }

 #texte1 {
  color: rgb(255, 255, 255);
  text-shadow: black 0.2px 0.2px 0.2px;
 }

 #navbar {
   color: azure;
 }

 #couleurFond {
    background-color:rgb(221, 203, 194)
 }

 #ImageSite {

  height: 350px;
  background-color: #3D3D3D;
  background-image: url(../image/FondRestau.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0 0.5em rgb(0 0 0 / 30%);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
 }

 .ulForm {

  display: flex;
  flex-flow: row wrap;
  
 }

 .liForm {

  list-style: none;
  white-space: nowrap;
  color: rgb(239, 68, 35);
 }
 
 .SpanLi {

  padding: 0px;
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  text-align: inherit;
  color: rgb(239, 68, 35);
  margin: 0px;
  font-size: 0.95em;
  line-height: 1em;
  font-weight: 400;
  text-decoration: none;
  text-shadow: black 0.2px 0.2px 0.2px;
  font-style: inherit;
 }
 
 .liForm:not(:last-child)::after {
  content: "•";
  margin-left: 8px;
 }

 .Header {

  width: 100%;
  /* background-color: rgb(239, 68, 35); */
  position: relative;
  overflow: hidden;
 }

 .Header::before {

  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: url(https://img.freepik.com/photos-premium/deux-hamburgers-noirs-pain-noir-aux-graines-sesame-escalope-viande-boeuf-fromage-legumes-table-decouper-rustique-bois-fermer-flou-selectif-espace-copie-texte_137271-188.jpg?w=2000) center center / cover;
  filter: blur(4px);
  opacity: 2;
  transform: scale(1.03);
 }

 .Header::after {

  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: linear-gradient(transparent 10%, rgba(15, 14, 14, 0.867) 90%);
  opacity: 1;
  transition: all 0.3s ease 0s
 }

 .Section1 {

  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
  z-index: 2;
 }

 .div1Sec1 {

  height: 230px;
  margin: auto;
  position: relative;
  bottom: 20px;
  display: flex;
  align-items: flex-end;
  z-index: 10;
 }

 .div2Sec1 {

  display: flex;
  flex-direction: column;
  padding: 8px;
 }

 .liSpan {

  list-style: none;
  white-space: nowrap;
  color: rgb(239, 68, 35);
 }

 .ColorTexte {

  color: rgb(255, 48, 2);
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}
.BorderDiv {

  width: 100%;
  height: 40px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  z-index: 10;
}

.DivBloc1 {

  width: 100%;
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  margin-top: 0px;
}

.SecBloc1 {

  box-sizing: border-box;
  padding: 0px 16px;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.SecBloc1.gutterBottom {

  padding-bottom: 60px;
}

.h2Bloc1 {

  padding: 0px; 
  font-variant: inherit;
  font-stretch: inherit;
  font-family: inherit;
  text-align: inherit;
  color: initial;
  margin: 0px;
  font-size: 1em;
  line-height: 1em;
  font-weight: 400;
  text-decoration: none;
  font-style: inherit;
}

.SpanH2Bloc1 {

  color: initial;
  font-weight: bold;
}

.Span2H2Bloc1 {

  color: rgb(128, 128, 128);
  font-family: SFUIDisplay, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.ColorSpan {

  color: rgb(239, 68, 35);
}

.initial1 {

  color: initial;
}
 



