{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenu sur Mon Restaurant</h1>
  <p class="lead">Mon Restaurant, c’ est des recettes qui t’ en mettront plein la vue, toujours à base de steak haché frais de race française, des sauces maison, d’un pain artisanal et de légumes livrés tous les jours par notre maraicher</p>
  <hr class="my-4">
  <p>Créé en 2022, Mon Restaurant a immédiatement fait parler de lui de par son univers, accompagné d’une offre alléchante. Nous avons longtemps travaillé sur ce projet pour en faire une enseigne aboutie et impactante.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Accéder à la carte du restaurant </a>
  </p>
</div>
{% endblock %}
